/*body{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
#root{
    width: 100%;
    height: 100vh;
}

#app{
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.nav ul {
    display: flex;
    gap: 5rem;
}
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.content{
    display: flex;
    gap: 3rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 70rem;
}

.content img{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem
}

.content__description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.description__paragraph{
    display: flex;
    justify-content: space-between;
}

.description__category{
    display: flex;
    gap: 1rem;
}

.description__footer{
    display: flex;
    justify-content: space-between;

}

.budge{
    color: black;
    background-color: #cdcdcd;
    padding: 0.5rem;
    border-radius: 1rem;
}

.date{
    font-size: 1.1rem;
    color: gray;
}

